# DataFrames

DataFrames are the workhorse of pandas and are directly inspired by the R programming language. We can think of a DataFrame as a bunch of Series objects put together to share the same index. Let's use pandas to explore this topic!

In [4]:
import pandas as pd
import numpy as np

In [3]:
#from numpy.random import randn
#np.random.seed(101)

In [41]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='W X Y Z'.split())

In [28]:
df

          W         X         Y         Z
A -0.630507 -1.398290 -0.219311 -0.045676
B  0.012421  0.093628  1.240813 -1.097693
C -1.908009 -0.380104 -1.666059 -2.736995
D  1.522562  0.178009 -0.626805 -0.391089
E  1.743477  1.130018  0.897796  0.330866

In [20]:
df = pd.DataFrame(randn(5,4),index='A B C D E'.split(),columns='t u v z'.split())

In [14]:
df

          t         u         v         z
A  1.028293 -1.972605 -0.866885  0.720788
B -1.223082  1.606780 -1.115710 -1.385379
C -1.329660  0.041460 -0.411055 -0.771329
D  0.110477 -0.804652  0.253548  0.649148
E  0.358941 -1.080471  0.902398  0.161781

## Selection and Indexing

Let's learn the various methods to grab data from a DataFrame

In [30]:
df['u']

KeyError: 'u'

In [31]:
# Pass a list of column names
df[['W','Z']]

          W         Z
A -0.630507 -0.045676
B  0.012421 -1.097693
C -1.908009 -2.736995
D  1.522562 -0.391089
E  1.743477  0.330866

DataFrame Columns are just Series

In [11]:
type(df['W'])

pandas.core.series.Series

**Creating a new column:**

In [32]:
df['new'] = df['W'] + df['Y']

In [36]:
df.drop('new',axis=1)

          W         X         Y         Z
A -0.630507 -1.398290 -0.219311 -0.045676
B  0.012421  0.093628  1.240813 -1.097693
C -1.908009 -0.380104 -1.666059 -2.736995
D  1.522562  0.178009 -0.626805 -0.391089
E  1.743477  1.130018  0.897796  0.330866

In [37]:
df

          W         X         Y         Z       new
A -0.630507 -1.398290 -0.219311 -0.045676 -0.849817
B  0.012421  0.093628  1.240813 -1.097693  1.253234
C -1.908009 -0.380104 -1.666059 -2.736995 -3.574068
D  1.522562  0.178009 -0.626805 -0.391089  0.895757
E  1.743477  1.130018  0.897796  0.330866  2.641273

** Removing Columns**

In [ ]:
df.drop('new',axis=1,inplace=True)

In [38]:
df.drop('E', axis=0 )

          W         X         Y         Z       new
A -0.630507 -1.398290 -0.219311 -0.045676 -0.849817
B  0.012421  0.093628  1.240813 -1.097693  1.253234
C -1.908009 -0.380104 -1.666059 -2.736995 -3.574068
D  1.522562  0.178009 -0.626805 -0.391089  0.895757

In [43]:
df

          W         X         Y         Z
A  2.493990 -0.547260  0.496727 -1.235614
B -0.798428  0.754121 -0.772041 -0.034432
C  0.688408  0.081523 -0.415191  0.053661
D -2.115113 -0.279510  1.062710  1.752014
E  0.695547  0.153661  0.167638 -0.765930

Can also drop rows this way:

In [ ]:
df.drop('E',axis=0)

** Selecting Rows**

In [44]:
df.loc['A']

W    2.493990
X   -0.547260
Y    0.496727
Z   -1.235614
Name: A, dtype: float64

Or select based off of position instead of label

In [45]:
df.iloc[2]

W    0.688408
X    0.081523
Y   -0.415191
Z    0.053661
Name: C, dtype: float64

** Selecting subset of rows and columns **

In [46]:
df.loc['B','Y']

-0.7720406439702567

In [30]:
df.loc[['A','B'],['W','Y']]

          W         Y
A  0.302665 -1.706086
B -0.134841  0.166905

### Conditional Selection

An important feature of pandas is conditional selection using bracket notation, very similar to numpy:

In [47]:
df

          W         X         Y         Z
A  2.493990 -0.547260  0.496727 -1.235614
B -0.798428  0.754121 -0.772041 -0.034432
C  0.688408  0.081523 -0.415191  0.053661
D -2.115113 -0.279510  1.062710  1.752014
E  0.695547  0.153661  0.167638 -0.765930

In [48]:
df>0

       W      X      Y      Z
A   True  False   True  False
B  False   True  False  False
C   True   True  False   True
D  False  False   True   True
E   True   True   True  False

In [33]:
df[df>0]

          W         X         Y         Z       new
A  0.302665  1.693723       NaN       NaN       NaN
B       NaN  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D       NaN       NaN       NaN  0.484752       NaN
E       NaN  1.901755  0.238127  1.996652  0.121354

In [52]:
df[df['W']>0]

          W         X         Y         Z
A  2.493990 -0.547260  0.496727 -1.235614
C  0.688408  0.081523 -0.415191  0.053661
E  0.695547  0.153661  0.167638 -0.765930

In [54]:
df[df['W']>0]['Y']

A    0.496727
C   -0.415191
E    0.167638
Name: Y, dtype: float64

In [38]:
df[df['W']>0][['Y','X']]

          Y         X
A -1.706086  1.693723
C  0.638787  0.072960

For two conditions you can use | and & with parenthesis:

In [39]:
df[(df['W']>0) & (df['Y'] > 1)]

Empty DataFrame
Columns: [W, X, Y, Z, new]
Index: []

## More Index Details

Let's discuss some more features of indexing, including resetting the index or setting it something else. We'll also talk about index hierarchy!

In [40]:
df

          W         X         Y         Z       new
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
B -0.134841  0.390528  0.166905  0.184502  0.032064
C  0.807706  0.072960  0.638787  0.329646  1.446493
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
E -0.116773  1.901755  0.238127  1.996652  0.121354

In [41]:
# Reset to default 0,1...n index
df.reset_index()

  index         W         X         Y         Z       new
0     A  0.302665  1.693723 -1.706086 -1.159119 -1.403420
1     B -0.134841  0.390528  0.166905  0.184502  0.032064
2     C  0.807706  0.072960  0.638787  0.329646  1.446493
3     D -0.497104 -0.754070 -0.943406  0.484752 -1.440510
4     E -0.116773  1.901755  0.238127  1.996652  0.121354

In [42]:
newind = 'CA NY WY OR CO'.split()

In [43]:
df['States'] = newind

In [44]:
df

          W         X         Y         Z       new States
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420     CA
B -0.134841  0.390528  0.166905  0.184502  0.032064     NY
C  0.807706  0.072960  0.638787  0.329646  1.446493     WY
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510     OR
E -0.116773  1.901755  0.238127  1.996652  0.121354     CO

In [45]:
df.set_index('States')

               W         X         Y         Z       new
States
CA      0.302665  1.693723 -1.706086 -1.159119 -1.403420
NY     -0.134841  0.390528  0.166905  0.184502  0.032064
WY      0.807706  0.072960  0.638787  0.329646  1.446493
OR     -0.497104 -0.754070 -0.943406  0.484752 -1.440510
CO     -0.116773  1.901755  0.238127  1.996652  0.121354

In [46]:
df

          W         X         Y         Z       new States
A  0.302665  1.693723 -1.706086 -1.159119 -1.403420     CA
B -0.134841  0.390528  0.166905  0.184502  0.032064     NY
C  0.807706  0.072960  0.638787  0.329646  1.446493     WY
D -0.497104 -0.754070 -0.943406  0.484752 -1.440510     OR
E -0.116773  1.901755  0.238127  1.996652  0.121354     CO

In [47]:
df.set_index('States',inplace=True)

In [48]:
df

               W         X         Y         Z       new
States
CA      0.302665  1.693723 -1.706086 -1.159119 -1.403420
NY     -0.134841  0.390528  0.166905  0.184502  0.032064
WY      0.807706  0.072960  0.638787  0.329646  1.446493
OR     -0.497104 -0.754070 -0.943406  0.484752 -1.440510
CO     -0.116773  1.901755  0.238127  1.996652  0.121354

## Multi-Index and Index Hierarchy

Let us go over how to work with Multi-Index, first we'll create a quick example of what a Multi-Indexed DataFrame would look like:

In [49]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [50]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [51]:
df = pd.DataFrame(np.random.randn(6,2),index=hier_index,columns=['A','B'])
df

             A         B
G1 1 -0.993263  0.196800
   2 -1.136645  0.000366
   3  1.025984 -0.156598
G2 1 -0.031579  0.649826
   2  2.154846 -0.610259
   3 -0.755325 -0.346419

Now let's show how to index this! For index hierarchy we use df.loc[], if this was on the columns axis, you would just use normal bracket notation df[]. Calling one level of the index returns the sub-dataframe:

In [ ]:
df.loc['G1']

In [ ]:
df.loc['G1'].loc[1]

In [ ]:
df.index.names

In [ ]:
df.index.names = ['Group','Num']

In [ ]:
df

In [ ]:
df.xs('G1')

In [ ]:
df.xs(['G1',1])

In [ ]:
df.xs(1,level='Num')

# Great Job!